body {
  margin-left: 1.875em;
  margin-right: 1.875em;
}
div {
  margin-left: 1.875em;
  margin-right: 0.938em;
}

.side {
  width:25%;
  float: right;
  padding-left: 1.875em;
  border-left: solid;
  margin-top: 2.188em;
}

.side p {
  margin: 0;
}

.main {
  width:60%;
  float:left;
  margin-top: 2.188em;
}

.head {
  margin-top: 2.188em;
  border-bottom: solid;
  border-width: 0.063em;
  height: 5em;
}

#email {
  float: right;
}

#phone {
  float: right;
  margin-top: 0;
}

.head h1 {
  display: inline;
}

.side ul {
  padding-left: 0;
  list-style-type: none;
}

.side li {
  padding-left: 1.25em;
}

.main ul {
  padding-left: 0.75em;
  margin: 0.313em;
}

.main li {
  padding-left: 0.313em;
}
.title {
  display: inline;
}

.date {
  margin: 0;
  float:right;
}

.website {
  display: inline;
}

.github {
  float:right;
  margin: 0;
}

.project {
  margin:0;
}

.star {
  display: inline;
  margin-left: 0.313em;
  font-size: 0.625em;
}