body {
  margin-left: 1.875em;
  margin-right: 1.875em;
}
p {
  font-size: 12px;
}

li {
  font-size: 12px;
}
div {
  margin-left: 1.875em;
  margin-right: 0.938em;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}
.side {
  width:25%;
  float: right;
  padding-left: 1.25em;
  border-left: solid;
  margin-top: 0.25em;
}

.side p {
  margin: 0;
}

.main {
  width:57%;
  float:left;
  margin-top: 0.25em;
}

.head {
  margin-top: 2.188em;
  border-bottom: solid;
  border-width: 0.063em;
  height: 5em;
}

#email {
  float: right;
}

#phone {
  float: right;
  margin-top: 0;
  font-size: 16px;
}
#address {
  float: right;
  margin-top: 0;
  font-size: 16px;
}

.head h1 {
  display: inline;
}

.side ul {
  padding-left: 0;
  list-style-type: none;
}

.side li {
  padding-left: 1.25em;
}

.main ul {
  padding-left: 0.75em;
  margin: 0.313em;
}

.main li {
  padding-left: 0.313em;
}
.title {
  display: inline;
}

.date {
  margin: 0;
  float:right;
}

.website {
  display: inline;
}

.github {
  float:right;
  margin-top: 0.2em;
}

.project {
  margin:0;
}

.star {
  display: inline;
  margin-left: 0.313em;
  font-size: 0.625em;
}

h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}